# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules
coverage
dist
package-lock.json
zz
packages/app-browserify-template/lib

/.idea
/.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Thumbs.db
*.log
